/* TODO: Agregar la fuente de este ejercicio y aplicar los estilos a las etiquetas p y h1 */
body{
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center; /* Alineación a nivel horizontal en el centro */
    align-items: center; /* Alineación a nivel vertical en el centro */
    height: 100vh; /* permite ocupar todo el espacio de la página y no solo el que ocupa*/
    margin: 0;
}

main{
    /* border: 1px solid red; */
    width: 250px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center; /* Aquí podemos ver que se centran todas las propiedades hijas del main */
}

img{
    border-radius: 15px;
}

h1{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(216, 15%, 48%);
}
