@font-face{
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
}

@font-face{
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 500;
}

@font-face{
    font-family: 'Fraunces';
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf) format('truetype');
    font-weight: 700;
}


/* TODO: descargar la fuente Fraunces desde Google fonts y usarla en el body */

body{
  background-color: hsl(30, 38%, 92%);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif; 
  /* font-family: 'Fraunces', sans-serif; */
  display: flex;

  justify-content: center; /* Alineamiento Horizontal */
  align-items: center; /* Alineamiento vertical */

  height: 100vh; /* vh <> Viewport height */
}
main{
    /* border: 1px solid red; */
    border: 1px solid red;
    width: 650px;
    display: flex; /* Flexbox */
    min-height: 400px;
    border-radius: 7px;
    overflow: hidden;
}

.photo{
    /* border: 1px solid blue; */
    width: 300px;
    background-image: url(images/image-product-desktop.jpg);
    background-size: cover;
}

.content{
    /* border: 1px solid orange; */
    width: 350px;
    padding: 28px; /* Eapcaio entre el borde y el contenido */
    /* El nivel de separación se toma en consideración el doble del tamañano de letra que era 14px */
    display: flex;
    flex-direction: column; /* Los elementos se colocan uno debajo de otro */
    gap: 21px; /* 14px + 7px */
    background-color:hsl(0, 0%, 100%);
}

.content h2{ /* Selectores Combinados */
    /* border: 1px solid green; */
    margin: 0px; /* resetea el margen de este h2 */

    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    letter-spacing: 7px;
}
/* TODO: Terminar con los estilos de las etiquetas h1 y p aplicando colores, fuentes, tamaños */

.content h1{
    /* border: 1px solid green; */
    margin: 0px; /* resetea el margen de este h1 */

    color: hsl(158, 42%, 18%);
    font-family: 'Fraunces', sans-serif;
}

.content p {
    /* border: 1px solid green; */
    margin: 0px; /* resetea el margen de este p */

    color: hsl(228, 12%, 48%);
    line-height: 1.5;
    font-weight: 500; /* No es necesario viene por defecto en el navegador */
}

.content div{
    display:  flex;
    align-items: center; /* Alinea los elementos hijos verticalemente */
    gap: 30px;

}

.content span{
    font-family: 'Fraunces', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.content s{
    color: hsl(228, 12%, 48%);
}

.content button{
    background-color:hsl(158, 36%, 37%);
    border: none; /* También podemos colocar border: 0px */
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700; /* El font-weight: 700 es equivalente al bold que hace referencia a la negrita */
    color: white; /* white = hsl(0, 0%, 100%) */
    padding: 14px;
    border-radius: 7px;

    display: flex;
    justify-content: center;
    gap: 7px;
}

/* TODO: Añadir al boton la imagen del carrito, revisar la carpeta images. Y alinearlo como está en el diseño */

/* TODO: Añadir botones redondeados a la etiqueta main, a la caja principal como está en el diseño */ 