/* TODO: Empezar los estilos de este diseño */
body{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    background-color:hsl(148, 38%, 91%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form{
    /* border: 1px solid red; */
    min-width: 400px;
    background-color: white;
    border-radius: 16px;
    padding: 32px;
}

h1{
    margin: 0;
    margin-bottom: 32px; /* margin-bottom es margen en la parte inferior */
    color: hsl(187, 24%, 22%);
}

label{
    display: block;
    margin-bottom: 16px;
}

input[type=text],
input[type=email],
textarea {
    display: flex;
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid hsl(186, 15%, 59%);
    padding: 16px;
    box-sizing: border-box; /* Incluye en el cálculo de esta caja de texto, nos permite que los elementos encajen en su sitio */
 
}

/* TODO: Darle estilos al botón del formulario */

input[type=submit]{
    background-color: hsl(169, 82%, 27%);
    width: 100%;
    border: none;
    color:  hsl(0, 0%, 100%); /* white <> #FFFFFF <> #FFF (EN FORMATO HEXADECIMAL) */
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 1px; /* Propiedad para separar las letras de un texto */ 
}

input[type=submit]:hover{
    background-color: hsl(169, 82%, 20%);
    cursor: pointer;
}
/* En CSS la gran ventaja del desarrollo se centra en ser específico en los requerimientos */
.required{
    color: hsl(169, 82%, 27%);
    margin-left: 1px;
}

.query-type{
    border: 1px solid hsl(186, 15%, 59%);
    display: flex;
    gap: 4px;
    padding: 16px;
    margin-top: 8px;
    border-radius: 8px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px; 
    /* display: flex;
    gap: 16px;
    width: 100%; */
}
